*,
*::before 
*::after {
  box-sizing: border-box;
}

body {   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1100px;
    min-height: 650px;
    margin: 50px auto 10px auto;
    float: none;
    border: black;
    border-style: solid;
    border-radius: 15px;
}

header {
    padding: 50px 50px 0px 50px;
}

header nav {
   display: flex;
   justify-content: space-between;
}

h1 {
    font-size: 250%;
    margin: 10px 0px 5px 0px;
}

p {
    font-size: 125%;
    text-align: justify;
}
.timer {
    width: 25%;
    text-align: right;
}

.highscores {
    width: 25%;
    margin-bottom: 10px;
}

.wrapper {
    max-width: 650px;
    justify-items: left;
}

.container {
    max-width: 650px;
    margin: 0px auto 0px auto;
}

a {
    color: #b54ce4;
    text-decoration: none;
}

.home {
    text-align: center;
}

button {
    border-radius: 5px;
    padding: 10px 15px;
    color: #fff;
    background-color: #351c75;
    display: inline-block;
    font-size: 125%;
}

button:hover {
    background-color: #b54ce4;
}

.answers button {
    display: block;
    min-width: 250px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 5px;
}

.question {
    font-size: 24px;
}

.start {
    text-align: center;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
}
h2 {
    font-size: 200%;
}

ol {
    padding-left: 0px;
    max-height: 300px;
    overflow: auto;
    margin: 10px 0px 15px 0px;
}

li {
    padding: 5px;
    list-style: decimal inside none;
    background-color: #d9d3e3;
}

input[type="text"] {
    font-size: 100%;
}

.feedback {
    font-style: italic;
    color:grey;
    border-top: 2px solid grey;
}

.hidden {
    display: none;
}

.box {
    max-width: 650px;
    text-align: left;
    margin-top: 150px;
}
