*,
*::before 
*::after {
  box-sizing: border-box;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    margin: 100 auto 0 auto;
    display: flex;
    width: 60%;
}
    
.timer {
    position: absolute;
    top: 25px;
    right: 25px;
}

.highscore {
    position: absolute;
    top: 25px;
    left: 25px;
}

a {
    color: #b54ce4;
    text-decoration: none;
}

.home {
    text-align: center;
}

button {
    border-radius: 25px;
    padding: 4px 10px;
    color: #fff;
    background-color: #351c75;
    display: inline-block;
    font-size: 100%;

}

button:hover {
    background-color: #b54ce4;
}

.answers button {
    display: block;
}

.page {
    text-align: center;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

ol {
    padding-left: 0px;
    max-height: 450px;
    overflow: auto;
}

li {
    padding: 15px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: #651c75;
}

input[type="text"] {
    font-size: 100%;
}

.feedback {
    font-style: italic;
    color:black;
}

.hide {
    display: none
}